fastapi[standard]
uvicorn
python-multipart
pydantic
chromadb
llama-index-core
llama-index-embeddings-openai
llama-index-vector-stores-chroma
python-dotenv
PyPDF2
Pillow
pytesseract
pymupdf
spire.doc
llama-index-llms-openai
slowapi
