name: Deploy Backend to Azure

on: 
    push: 
        branches: [ main ]
        paths: 
            - 'backend/**'

env:
    AZURE_WEBAPP_NAME: QnA-app
    AZURE_WEBAPP_PACKAGE_PATH: 'backend' 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Azure
        uses: azure/webapps-deploy@v2  # v2 for reliable publish profile
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}

